
        <form role="form" id="add" style="padding-left: 5%; padding-right: 5%;">
            <div class="form-group fg-line" style="float: left;width: 5%; margin-right: 15px;">
                <label for="in_category" class="my_label">카테고리</label>
                <div class="select" >
                    <select class="form-control" id="in_category">
                        <option value="desk">책상</option>
                        <option value="sofa">소파</option>
                        <option value="bookshelf">책장</option>
                        <option value="table">테이블</option>
                    </select>
                </div>
            </div>
            <div class="form-group fg-line" style="float: left;width: 10%; margin-right: 15px;">
                <label for="in_article_name" class="my_label">상품이름</label>
                <input id="in_article_name" class="form-control" type="text" placeholder="상품이름" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 10%; margin-right: 15px;">
                <label for="in_article_width" class="my_label">가로(mm)</label>
                <input id="in_article_width" onkeypress="return digit_check(event)" class="form-control" type="number" placeholder="가로" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 10%; margin-right: 15px;">
                <label for="in_article_height_length" class="my_label">세로(mm)</label>
                <input id="in_article_height_length" onkeypress="return digit_check(event)" class="form-control" type="number" placeholder="세로" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 10%; margin-right: 15px;">
                <label for="in_article_height" class="my_label">높이(mm)</label>
                <input id="in_article_height" onkeypress="return digit_check(event)" class="form-control" type="number" placeholder="높이" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 5%; margin-right: 15px;">
                <label for="in_article_price" class="my_label">가격(원)</label>
                <input id="in_article_price" onkeypress="return digit_check(event)" class="form-control" type="number" placeholder="가격" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 17%; margin-right: 15px;">
                <label for="in_article_image" class="my_label">이미지주소</label>
                <input id="in_article_image" class="form-control" type="text" placeholder="http://aaa.cc/image.jpg" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 17%; margin-right: 15px;">
                <label for="in_article_url" class="my_label">링크</label>
                <input id="in_article_url" class="form-control" type="url" placeholder="http://gagushop.co.kr/articlecode" style="text-align: center;">
            </div>
            <div class="form-group fg-line" style="float: left;width: 5%; ">
                <button type="button" onclick="addBTN()" class="btn btn-default btn-icon-text" style="margin-top: 30%;"><i class="zmdi zmdi-plus-circle-o"></i> 추가</button>
            </div>
        </form>
