
            <form id="search" style="padding-left: 5%; padding-right: 5%;">
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px;">
                <div class="fg-line">
                  <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">고기?</button>
                    <input id="meat" type="checkbox" class="hidden" checked />
                  </span>
                </div>
              </div>
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px;">
                <div class="fg-line">
                  <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">매움?</button>
                    <input id="spicy" type="checkbox" class="hidden" checked />
                  </span>
                </div>
              </div>
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px;">
                <div class="fg-line">
                  <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">국물?</button>
                    <input id="soup" type="checkbox" class="hidden" checked />
                  </span>
                </div>
              </div>
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px; ">
                <div class="fg-line">
                  <button type="button" onclick="searchBTN()" class="btn btn-default btn-icon-text" ><i class="zmdi zmdi-search"></i> Search</button>
                </div>
              </div>
            </form>




