
            <form id="search" style="padding-left: 5%; padding-right: 5%;">
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px;">
                <div class="fg-line">
                  <label for="category" class="my_label">카테고리</label>
                  <div class="select" >
                    <select class="form-control" id="category">
                      <option value="desk">책상</option>
                      <option value="sofa">소파</option>
                      <option value="bookshelf">책장</option>
                      <option value="table">테이블</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="float: left; width: 18%; margin-right:15px;">
                <div class="fg-line">
                  <label for="article_name" class="my_label">상품이름</label>
                  <input type="text" id="article_name" class="form-control" placeholder="상품이름" style="text-align: center">
                </div>
              </div>
              <div class="form-group" style="float: left; width: 18%; margin-right: 15px;">
                <div class="fg-line">
                  <label for="article_width" class="my_label">가로(mm)</label>
                  <input type="number" onkeypress="return digit_check(event)" id="article_width" class="form-control" placeholder="가로" style="text-align: center">
                </div>
              </div>
              <div class="form-group" style="float: left;width: 18%; margin-right: 15px;">
                <div class="fg-line">
                  <label for="article_height_length" class="my_label">세로(mm)</label>
                  <input type="number" onkeypress="return digit_check(event)" id="article_height_length" class="form-control" placeholder="세로" style="text-align: center">
                </div>
              </div>
              <div class="form-group" style="float: left; width: 18%; margin-right: 15px; ">
                <div class="fg-line">
                  <label for="article_height" class="my_label">높이(mm)</label>
                  <input type="number" onkeypress="return digit_check(event)" id="article_height" class="form-control" placeholder="높이" style="text-align: center">
                </div>
              </div>
              <div class="form-group" style="float: left; width: 10%; margin-right: 15px; ">
                <div class="fg-line">
                  <button type="button" onclick="searchBTN()" class="btn btn-default btn-icon-text" style="margin-top: 10%"><i class="zmdi zmdi-search"></i> Search</button>
                </div>
              </div>
            </form>




